*{

    margin: 5px;
    box-sizing: border-box;
}

body{
    background-color: #eae7cc;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.head h1{
    color:#2c5527; 
    font-style: bold;
}

.head h2{
    color: #124607;
    font-style: italic;
}

.photo {
    padding: 50px 0 20px 0;
}

.swiper{
    width: 100%;
}

.swiper-wrapper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
}

.swiper-slide img{
    width: 250px;
    height: 150px;
}

.photo h5{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.main .form{
    width: 45%;
    padding-top: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
    background-color: #124607;
    border-radius: 15px;
    border-width: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    text-align: left;
    padding: 10px;
    padding-top: 10px;
}

.formulario input[type="text"]{
    margin-bottom: 1em;
    width: 95%;
    border: none;
    height: 50px;
    padding: 0.2em;
    border-radius: 20px;
    background-color: #eae7cc;
    overflow: hidden;
    overflow-y: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.formulario input[type="email"]{
    margin-bottom: 1em;
    width: 95%;
    border: none;
    height: 50px;
    padding: 0.2em;
    border-radius: 20px;
    background-color: #eae7cc;
    overflow: hidden;
}

.formulario textarea{
    margin-bottom: 1em;
    width: 95%;
    border: none;
    min-height: 50px;
    height: auto;
    padding: 0.2em;
    border-radius: 20px;
    background-color: #eae7cc;
    overflow: hidden;
    resize: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.formulario input:hover{
    box-shadow: 0 1px 3px 0 #20212447;
    box-sizing: content-box;
}

.cont_boton{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#boton_enviar{
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 0.5px 1px 0 #8c8c8e;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}

#boton_descargar{
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 0.5px 1px 0 #8c8c8e;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}

.main .doc{
    width: 40%;
    text-align: center;
}

.footer{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #124607;
    width: 100%;
    border-radius: 10px;
}

.footer h3{
    color:#eae7cc;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.footer ul{
    margin: 3px;
    list-style: none;
}

.footer ul li a{
    margin: 10px;
    color: #eae7cc;
    text-decoration: none;
    font-weight: bold;
}

@media(max-width:991px){
    
    body{
        min-height: 0vh;
    }
    
    .photo{
        padding: 30px;
    }
}